/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: white;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icon {
    font-size: 22px;
}

.logo-text {
    font-weight: bold;
    font-size: 18px;
}

/* MENU */
.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #666;
    font-size: 15px;
}

.menu a.active {
    color: #5fb28b;
    font-weight: bold;
}

/* CONTENIDO PRINCIPAL */
.content {
    text-align: center;
    margin-top: 80px;
}

.content h1 {
    font-size: 32px;
    font-weight: bold;
}

.sub {
    margin-top: 10px;
    color: #666;
}

/* BOTONES */
.btn-container {
    text-decoration: none;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn {
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn.green {
    background: #a8d5ba;
    text-decoration: none;    
    color: black;
}

.btn.green:hover {
    background: #94c6a8;
    text-decoration: none;
}

.btn.gray {
    background: #f3f3f3;
    color: #333;
    text-decoration: none;
}

.btn.gray:hover {
    background: #e7e7e7;
    text-decoration: none;
}
