/* GENERAL */
body {
    margin: 0;
    background: #f5f6f7;
    font-family: "Inter", sans-serif;
    color: #333;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
}

.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
    font-size: 15px;
}

.nav-links a.active {
    color: #5ab18e;
    font-weight: 600;
}

/* CONTENIDO */
.container {
    max-width: 900px;
    margin: 60px auto;
}

.titulo {
    font-size: 32px;
    font-weight: 700;
}

.subtitulo {
    color: #666;
    margin-top: -10px;
}

/* CARD */
.card {
    background: white;
    border-radius: 10px;
    padding: 35px;
    margin-top: 25px;
    border: 1px solid #e5e5e5;
}

/* FORMULARIO */
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input, select {
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

input:focus, select:focus {
    border-color: #5ab18e;
}

/* DIVIDER */
.divider {
    border-top: 1px solid #e5e5e5;
    margin: 25px 0;
}

/* BOTONES */
.botones {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.cancelar {
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #333;
}

.registrar {
    background: #5ab18e;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.registrar:hover {
    opacity: 0.9;
}
