{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BioKelp</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

<!-- NAVBAR -->
<header class="navbar">
    <div class="nav-left">
        <img src="{% static 'img/logo.png' %}" alt="Biokelp" class="logo">
        <span class="brand">Biokelp</span>
    </div>

    <nav class="nav-center">
        <a href="{% url 'clientes' %}">Clientes</a>
        <a href="{% url 'metrica' %}">Alertas</a>
        <a href="{% url 'metrica' %}">Reportes</a>
    </nav>
</header>

<!-- CONTENIDO -->
<main class="page-content">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
