<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BioKelp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        header {
            background: #1e6f5c;
            color: white;
            padding: 10px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-evenly;
        }
        a {
            color: #1e6f5c;
            font-weight: bold;
        }

    </style>
</head>
<body>
<header>
    {% if user.is_authenticated %}

    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
    </form>
        <p>
        Usuario: {{ user.username }}
        <h1>Sistema de Trazabilidad BioKelp</h1>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </p>
    {% else %}
        <h1>Sistema de Trazabilidad BioKelp</h1>
    {% endif %}
</header>
    <a href="{% url 'clientes' %}" class="active">Clientes</a>
    <a href="{% url 'metrica' %}">Alertas y reportes</a>

{% block content %}
{% endblock %}

</body>
</html>

