<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BioKelp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        header {
            background: #1e6f5c;
            color: white;
            padding: 10px;
            margin-bottom: 20px;
        }
        a {
            color: #1e6f5c;
            font-weight: bold;
        }
    </style>
</head>
<body>

<header>
    <h1>Sistema de Trazabilidad BioKelp</h1>
</header>
    <a href="{% url 'clientes' %}" class="active">Clientes</a>
    <a href="{% url 'metrica' %}">Alertas y reportes</a>

{% block content %}
{% endblock %}

</body>
</html>
